:root {
  // the height of a carousel item
  --miso-carousel-item-height: 20rem;
  // the gap between carousel items
  --miso-carousel-item-gap: 1rem;
  // how many lines to show for title text
  --miso-carousel-title-lines: 2;
  // previous/next button
  --miso-carousel-control-button-size: 1.5rem;
  --miso-carousel-control-button-color: rgba(255, 255, 255, 0.5);
  --miso-carousel-control-button-color-hover: #fff;
  // the dots which indicate the current active item
  --miso-carousel-control-index-indicator-color: rgba(255, 255, 255, 0.75);
  --miso-carousel-control-index-indicator-color-active: #fff;
}

.miso-carousel {
  position: relative;

  .miso-carousel__viewport {
    position: relative;
    overflow: hidden;
  }
  .miso-carousel__viewport-inner {
    position: relative;
    margin: 0 calc(var(--miso-carousel-item-gap) * -1);
  }
  ol.miso-carousel__list,
  ul.miso-carousel__list {
    list-style: none !important;
    padding: 0 !important;
    margin: 0 !important;
  }
  .miso-carousel__list {
    position: relative;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: stretch;
    left: 0;
    transition: left 0.2s;
  }
  .miso-carousel__item {
    width: 100%;
    flex-shrink: 0;
    flex-grow: 0;
    margin: 0;
    padding: 0 var(--miso-carousel-item-gap);
    display: flex;
    justify-content: center;
  }
  .miso-carousel__item-body {
    position: relative;
    height: var(--miso-carousel-item-height);
    width: 100%;
    cursor: pointer;
  }

  .miso-carousel__list {
    // item type: image
    &[data-item-type="image"] {
      .miso-carousel__item-image-container {
        position: relative;
        height: 100%;
        width: 100%;
        border-radius: 0.5rem;
        overflow: hidden;
      }
      .miso-carousel__item-image {
        height: 100%;
        width: 100%;
        object-fit: cover;
      }
      .miso-carousel__item-info-container {
        position: absolute;
        top: 0;
        left: 0;
        text-overflow: ellipsis;
        text-decoration: none;
      }
      .miso-carousel__item-title {
        -webkit-line-clamp: var(--miso-carousel-title-lines);
        padding: 0.25em 0.5em;
        font-size: 1rem;
        color: #fff;
        text-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
      }
    }
  }

  // controls //
  .miso-carousel__control-container-previous,
  .miso-carousel__control-container-next {
    position: absolute;
    top: 0;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0.5rem;
  }
  .miso-carousel__control-container-previous {
    left: 0;
  }
  .miso-carousel__control-container-next {
    right: 0;
  }
  .miso-carousel__control-previous,
  .miso-carousel__control-next {
    height: var(--miso-carousel-control-button-effective-size);
    aspect-ratio: 1;
    flex-grow: 0;
    flex-shrink: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;

    .miso-ui-icon-triangle-eq {
      height: var(--miso-carousel-control-button-size);
      aspect-ratio: 1;
      stroke-width: 2;
      stroke: var(--miso-border-color-light);
      fill: var(--miso-carousel-control-button-color);
    }

    &:hover {
      .miso-ui-icon-triangle-eq {
        stroke: var(--miso-border-color-medium);
        fill: var(--miso-carousel-control-button-color-hover);
      }
    }
  }
  .miso-carousel__control-previous {
    .miso-ui-icon-triangle-eq {
      transform: rotate(-90deg);
    }
  }
  .miso-carousel__control-next {
    .miso-ui-icon-triangle-eq {
      transform: rotate(90deg);
    }
  }
  &[data-item-count="0"],
  &[data-item-count="1"] {
    .miso-carousel__control-previous,
    .miso-carousel__control-next {
      display: none;
    }
  }

  // index indicator //
  .miso-carousel__index-indicator {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    gap: 0.65rem;
    padding: 0.5rem;
    flex-direction: row;
    flex-grow: 0;
    flex-shrink: 0;
    justify-content: center;
    align-items: center;
  }
  ul, ol {
    &.miso-carousel__index-indicator {
      list-style: none;
      margin: 0;
    }
  }
  .miso-carousel__index-indicator-item {
    background-color: var(--miso-carousel-control-index-indicator-color);
    border-radius: 50%;
    aspect-ratio: 1;
    height: 0.4rem;

    &.active {
      background-color: var(--miso-carousel-control-index-indicator-color-active);
    }
  }
}
