@import url(https://fonts.googleapis.com/css?family=Noto+Sans+Symbols:wght@100;200;300&display=swap&text=%E2%9E%80%E2%9E%81%E2%9E%82%E2%9E%83%E2%9E%84%E2%9E%85%E2%9E%86%E2%9E%87%E2%9E%88%E2%9E%89%E2%9E%8A%E2%9E%8B%E2%9E%8C%E2%9E%8D%E2%9E%8E%E2%9E%8F%E2%9E%90%E2%9E%91%E2%9E%92%E2%9E%93);

$dingbat-circled-numbers: ➀ ➁ ➂ ➃ ➄ ➅ ➆ ➇ ➈ ➉;
$dingbat-negative-circled-numbers: ➊ ➋ ➌ ➍ ➎ ➏ ➐ ➑ ➒ ➓;

.miso-citation-link {
  position: relative;
  margin: 0 0.15em;
  text-decoration: none;

  & + .miso-citation-link {
    margin-left: 0;
  }
  &::before {
    content: '[' attr(data-index) ']';
  }

  > .miso-citation-tooltip {
    display: none;
    position: absolute;
    bottom: 100%;
    left: 50%;
    transform: translateX(-50%);
    font-size: 0.65em;
    padding: 0.5em 1em;
    border-radius: 0.5em;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.35);
    color: var(--miso-text-color);
    pointer-events: none;

    &::after {
      content: '';
      position: absolute;
      top: calc(100% - 0.4em);
      left: 50%;
      transform: translateX(-50%) rotate(45deg);
      border: 0.4em solid transparent;
      border-bottom-color: #fff;
      border-right-color: #fff;
      box-shadow: 2px 2px 2px rgba(0, 0, 0, .125);
      background: transparent;
      z-index: 10;
    }
  }
  &:hover > .miso-citation-tooltip {
    display: block;
  }
}
.miso-list,
.miso-cards,
.miso-carousel {
  .miso-citation-index {
    &::before {
      content: attr(data-index);
    }
  }
}

.miso-circled-citation-index,
.miso-circled-citation-index-dark {
  .miso-citation-link,
  .miso-citation-index {
    font-family: 'Noto Sans Symbols', sans-serif;
    font-weight: 200;
    text-rendering: optimizeLegibility;

    @for $i from 1 through length($dingbat-circled-numbers) {
      &[data-index="#{$i}"] {
        &::before {
          content: '#{nth($dingbat-circled-numbers, $i)}';
        }
      }
    }
  }
  .miso-citation-link {
    line-height: 1em;
    font-size: 1.2em;
    margin: 0 0.1em;
    text-rendering: optimizeLegibility;
    text-decoration: none;

    @for $i from 1 through length($dingbat-circled-numbers) {
      &[data-index="#{$i}"] {
        &:hover::before {
          content: '#{nth($dingbat-negative-circled-numbers, $i)}';
        }
      }
    }
    & + .miso-citation-link {
      margin-left: 0;
    }
    &:hover {
      background-color: transparent;
    }
  }
  .miso-list,
  .miso-cards,
  .miso-carousel {
    .miso-citation-index {
      font-size: 1.25rem;
    }
  }
}
.miso-circled-citation-index-dark {
  .miso-citation-link,
  .miso-citation-index {
    @for $i from 1 through length($dingbat-circled-numbers) {
      &[data-index="#{$i}"] {
        &::before {
          content: '#{nth($dingbat-negative-circled-numbers, $i)}' !important;
        }
      }
    }
  }
}
