$statuses: "initial", "loading", "erroneous", "ready";

miso-ask,
miso-search,
miso-recommendation {
  display: block;

  &[visible-when],
  [visible-when] {
    display: none !important;
  }
  @each $status in $statuses {
    &[status="#{$status}"] {
      &[visible-when~="#{$status}"],
      [visible-when~="#{$status}"] {
        display: block !important;
      }
    }
  }
  // TODO: add "ongoing", "done" to match "ongoing" status
}
