$statuses: "initial", "loading", "erroneous", "ready";

miso-answers,
miso-search,
miso-recommendation {
  &[visible-when],
  [visible-when] {
    display: none;
  }
  @each $status in $statuses {
    &[status="#{$status}"] {
      &[visible-when~="#{$status}"],
      [visible-when~="#{$status}"] {
        display: initial;
      }
    }
  }
}
