$statuses: "initial", "loading", "erroneous", "ready", "ongoing", "done", "empty", "nonempty";
$statuses_x: "ongoing", "done";
$statuses_y: "empty", "nonempty";

miso-ask,
miso-explore,
miso-search,
miso-recommendation {
  display: block;

  &, * {
    box-sizing: border-box;
  }
  &[visible-when],
  [visible-when] {
    display: none !important;
  }
  @each $status in $statuses {
    &[status~="#{$status}"] {
      &[visible-when~="#{$status}"],
      [visible-when~="#{$status}"] {
        display: block !important;
      }
    }
  }
  @each $status_x in $statuses_x {
    @each $status_y in $statuses_y {
      &[status~="#{$status_x}"][status~="#{$status_y}"] {
        &[visible-when~="#{$status_x}-#{$status_y}"],
        [visible-when~="#{$status_x}-#{$status_y}"] {
          display: block !important;
        }
      }
    }
  }
}

miso-ask-combo {
  display: block;
}

miso-query,
miso-answer {
  display: block;
}
