.miso-list {
  &, * {
    box-sizing: border-box;
  }

  // the height of a list item
  --miso-list-item-height: 11rem;
  // the gap between list items
  --miso-list-item-gap: 1rem;
  // the aspect ratio of cover image
  --miso-list-image-aspect-ratio: 1;
  // how many lines to show for title text
  --miso-list-title-lines: 1;
  // how many lines to show for description text
  --miso-list-description-lines: 3;
  // currency symbol for price properties
  --miso-currency-symbol: "$";

  ul.miso-list__list {
    &[data-item-type="product"] {
      list-style: none;
      padding: 0;
      margin: 0;

      li.miso-list__item {
        margin: var(--miso-list-item-gap) 0;
        border: 1px solid #e3e5e8;
        border-radius: .5rem;
        background-color: #fff;

        &:hover {
          border-color: #8f96a3;
          box-shadow: 0 0 3px rgba(0, 0, 0, .1);
        }
      }

      .miso-list__item-body {
        display: flex;
        justify-content: space-between;
        height: var(--miso-list-item-height);
        padding: var(--miso-list-item-gap);
        user-select: none;
      }
      a.miso-list__item-body {
        cursor: pointer;
        text-decoration: none;
      }

      .miso-list__item-cover-image-container {
        position: relative;
        height: 100%;
        aspect-ratio: var(--miso-list-image-aspect-ratio);
        flex-shrink: 0;
        border-radius: .4rem 0 0 .4rem;
        overflow: hidden;

        &::before {
          content: " ";
          position: absolute;
          left: 0;
          right: 0;
          top: 0;
          bottom: 0;
          background: radial-gradient(50% 50% at 50% 50%, transparent 0, rgba(0, 0, 0, .004) 82.81%, rgba(0, 0, 0, .016) 100%);
          background-blend-mode: normal, luminosity;
        }
      }
      img.miso-list__item-cover-image {
        object-fit: contain;
        height: 100%;
        width: 100%;
        max-width: 100%;
        border-style: none;
      }

      .miso-list__item-info-container {
        display: flex;
        flex-direction: column;
        //justify-content: center;
        width: 100%;
        color: #5c6370;

        &:not(:first-child) {
          margin-left: 1rem;
        }

        > hr {
          display: none;
        }
      }

      .miso-list__item-title,
      .miso-list__item-snippet,
      .miso-list__item-desc {
        display: -webkit-box;
        -webkit-box-orient: vertical;
        overflow: hidden;
        text-overflow: ellipsis;
      }

      .miso-list__item-title {
        flex-shrink: 0;
        -webkit-line-clamp: var(--miso-list-title-lines);
        font-weight: 500;
        font-size: 1rem;
        line-height: 1.5;
        margin-bottom: .25rem;
        color: #23262b;
      }

      .miso-list__item-snippet,
      .miso-list__item-desc {
        -webkit-line-clamp: var(--miso-list-description-lines);
        font-weight: 400;
        font-size: .75rem;
        line-height: 1.35;
        margin-bottom: .5rem;
      }

      .miso-list__item-price {
        color: #23262b;

        &::before {
          content: var(--miso-currency-symbol);
        }
      }
    }
  }

}
