.miso {
  // the currency symbol used for price display
  --miso-currency-symbol: "$";
  // the color of Miso logo SVG image
  --miso-logo-color: #1a4ce3;
  // the text preceding Miso logo
  --miso-banner-text: 'Powered by ';
  --miso-banner-text-color: #666;
  --miso-banner-height: 1.7rem;

  .miso__banner {
    text-align: right;
  }

  .miso__logo {
    display: inline-block;
    color: var(--miso-logo-color);
    user-select: none;

    &::before {
      content: var(--miso-banner-text);
      float: left;
      margin-right: calc(var(--miso-banner-height) * 0.2);
      line-height: var(--miso-banner-height);
      font-weight: normal;
      font-size: calc(var(--miso-banner-height) * 0.55);
      color: var(--miso-banner-text-color);
    }
    svg {
      display: block;
      float: left;
      height: var(--miso-banner-height);
      fill: currentColor;
    }
  }
}
