.miso-option-list {
  --miso-option-list-border-radius: 9999px;
  --miso-option-list-background: #f1f7ff;
  --miso-option-list-item-gap: 0.75rem;
  --miso-option-list-item-padding: 0.75rem;
  --miso-option-list-font-size: 0.9rem;

  position: relative;

  .miso-option-list__options {
    padding: 0;
    margin: 0;
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: var(--miso-option-list-item-gap);
  }
  .miso-option-list__option {
    border: 1px solid transparent;
    border-radius: var(--miso-option-list-border-radius);
    background: var(--miso-option-list-background);
    padding: var(--miso-option-list-item-padding) calc(var(--miso-option-list-item-padding) + var(--miso-option-list-font-size) * 0.5);
    font-size: 0.9rem;
    user-select: none;
    text-decoration: none;
    box-shadow: 0 0 1px rgba(0, 0, 0, 0.15);
    transition: var(--miso-transition);
    cursor: pointer;

    &:hover {
      border-color: var(--miso-border-color-light);
    }
  }
}
