.miso-search-box {
  &, * {
    box-sizing: border-box;
  }

  --miso-search-box-border-color: #8f96a3;
  --miso-search-box-border-radius: .25rem;

  line-height: 1.5;

  .miso-search-box__input-group {
    display: flex;
    width: 100%;
    border-radius: .5rem;
    background-color: #fff;
    font-size: 1rem;
    color: #8f96a3;
    outline: none;
    transition: border-color .2s ease-in-out;

    > .miso-search-box__input {
      flex-grow: 1;
      border-top-right-radius: 0;
      border-bottom-right-radius: 0;
    }
    > .miso-search-box__button {
      flex-grow: 0;
      margin-left: -1px;
      border-top-left-radius: 0;
      border-bottom-left-radius: 0;
    }
  }

  .miso-search-box__input,
  .miso-search-box__button {
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
    margin: 0;
  }

  .miso-search-box__input {
    padding: 0.375rem 0.5rem;
    border: 1px solid var(--miso-search-box-border-color);
    border-radius: var(--miso-search-box-border-radius);
    outline: none;
  }

  .miso-search-box__button {
    border: 1px solid var(--miso-search-box-border-color);
    border-radius: var(--miso-search-box-border-radius);
    padding: 0.375rem 0.75rem;
    color: #333;
    background-color: #fff;
    cursor: pointer;
  }

}
