:root {
  --miso-search-box-border-radius: 9999px;
  //--miso-search-box-font-weight: 500;
  --miso-search-box-font-size: 1rem;
  --miso-search-box-line-height: 1.5;
  --miso-search-box-icon-size: 1.25rem;
  --miso-search-box-padding: 0.75rem;
}

.miso-search-box {
  position: relative;
  line-height: var(--miso-search-box-line-height);

  .miso-search-box__input-group {
    position: relative;
    display: flex;
    border: 1px solid var(--miso-border-color-light);
    border-radius: var(--miso-search-box-border-radius);
    font-size: var(--miso-search-box-font-size);
    background-color: #fff;
    outline: none;
    overflow: hidden;
    transition: var(--miso-transition);

    &:hover,
    &:focus-within {
      border-color: var(--miso-border-color-medium);
      box-shadow: var(--miso-box-shadow-hover);
    }
    > .miso-search-box__input {
      flex-grow: 1;
    }
    > .miso-search-box__button {
      flex-grow: 0;
    }
  }

  .miso-search-box__input,
  .miso-search-box__button {
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
    margin: 0;
    border-radius: var(--miso-search-box-border-radius);
  }
  .miso-search-box__input {
    padding: var(--miso-search-box-padding) 0;
    padding-left: calc(var(--miso-search-box-padding) + var(--miso-search-box-font-size) * 0.5);
    //font-weight: var(--miso-search-box-font-weight);
    border: none;
    outline: none;

    &::placeholder {
      color: #b0b0b0; // TODO
    }
  }
  .miso-search-box__button {
    border: none;
    padding: var(--miso-search-box-padding) 0;
    padding-right: calc(var(--miso-search-box-padding) + var(--miso-search-box-font-size) * 0.5 - var(--miso-search-box-icon-size) * 0.25);
    color: #333;
    background-color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;

    > .miso-ui-icon {
      aspect-ratio: 1;
      height: var(--miso-search-box-icon-size);
      color: var(--miso-border-color-medium);
    }
  }

  .miso-search-box__autocomplete {
    display: none;
    position: absolute;
    top: calc(100% - 1px);
    left: 0;
    right: 0;
    z-index: 1;
    border: 1px solid var(--miso-border-color-light);
    border-radius: 0.5rem;
    background-color: #fff;
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
    overflow: hidden;
    overflow-y: auto;
    transition: opacity .2s ease-in-out; // TODO

    &.open:not(.empty),
    &:active:not(.empty) {
      display: block;
    }
    .miso-search-box__suggestion-list {
      padding: 0;
      margin: 0;
      list-style: none;
    }
    .miso-search-box__suggestion-item {
      padding: 0.375rem 0.5rem;
      cursor: pointer;

      &:hover {
        background-color: #f5f5f5;
      }
    }
  }
}
