.miso-typewriter {
  &, * {
    box-sizing: border-box;
  }

  &::after {
    // TODO: check char availability in common fonts
    content: '┃';
    animation: blink-caret 0.75s step-end infinite;
  }
  &[data-status="initial"]::after,
  &.done::after {
    display: none;
  }

  @keyframes blink-caret {
    from, to { color: transparent }
    50% { color: inherit }
  }
}
