$dingbat-circled-numbers: ➀ ➁ ➂ ➃ ➄ ➅ ➆ ➇ ➈ ➉;
$dingbat-negative-circled-numbers: ➊ ➋ ➌ ➍ ➎ ➏ ➐ ➑ ➒ ➓;

.unicode-citation-index {
  .citation-link {
    display: inline;
    font-size: 1.3em;
    border: none;
    height: auto;
    width: auto;
    text-decoration: none;
    visibility: hidden;

    @for $i from 1 through length($dingbat-circled-numbers) {
      &[data-index="#{$i}"] {
        &::before {
          content: '#{nth($dingbat-circled-numbers, $i)}';
        }
        &:hover::before {
          content: '#{nth($dingbat-negative-circled-numbers, $i)}';
        }
      }
    }

    &::before {
      position: static;
      visibility: visible;
    }
    &::after {
      display: none;
    }
    &:hover {
      background-color: transparent;
      color: var(--miso-markdown-citation-link-color);
    }
  }
  .miso-list__item-index {
    position: absolute;
    display: block;
    top: var(--miso-list-item-gap);
    right: var(--miso-list-item-gap);
    height: var(--miso-list-item-index-size);
    width: var(--miso-list-item-index-size);
    line-height: var(--miso-list-item-index-size);
    font-size: 1.5rem;
    border: none;
    color: #999;
  
    @for $i from 1 through length($dingbat-circled-numbers) {
      &[data-index="#{$i}"] {
        &::before {
          content: '#{nth($dingbat-circled-numbers, $i)}';
        }
      }
    }
  }
}
