.body {
  display: grid;
  grid-template-areas: "aside main";
  grid-template-columns: max-content 1fr;
  gap: 1.5rem;
  padding: 1rem;
}

aside {
  grid-area: aside;
}

main {
  grid-area: main;
}

aside > h5 {
  text-align: center;
  margin-bottom: 0.75rem;
}

.ais-InfiniteHits-list,
.ais-Hits-list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 1rem;
}

.product {
  position: relative;
  height: 100%;
  color: #333;
}

.product .image {
  float: left;
  width: 100px;
  margin-right: 1rem;
}

.product .price {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  height: 1.25rem;
  text-align: right;
  font-size: 1.15em;
  font-weight: 400;
}

.product .price::before {
  content: '$';
}

.product .main {
  position: relative;
  overflow: hidden;
  height: 100%;
  padding-bottom: 1.75rem;
}
