---
dependency: codegen-code
pagination:
  data: workflows
  size: 1
  alias: workflow
permalink: "/ui/{{ workflow }}/codegen/"
workflows:
  - ask
  - explore
  - hybrid-search
  - recommendation
  - search
---

<div id="root"></div>
