{% switch dependency %}
  {% case 'none' %}
    <!-- none -->
  {% case 'sdk' %}
    <!-- sdk -->
    <script src="{{ '/js/sdk.js' | url }}"></script>
  {% case 'detached' %}
    <!-- detached -->
    <script src="{{ '/js/detached.js' | url }}"></script>
  {% case 'ui' %}
    <!-- ui -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/prismjs@1.29.0/themes/prism.min.css">
    <script src="https://cdn.jsdelivr.net/npm/prismjs@1.29.0/components/prism-core.min.js" data-manual></script>
    <script src="https://cdn.jsdelivr.net/npm/prismjs@1.29.0/plugins/autoloader/prism-autoloader.min.js"></script>
    <script async src="http://localhost:10099/dist/umd/miso.js"></script>
    <script>
      window.DEFAULT_ASK_API_KEY = '{{ DEFAULT_ASK_API_KEY }}';
      window.DEFAULT_AFFILIATION_ASK_API_KEY = '{{ DEFAULT_AFFILIATION_ASK_API_KEY }}';
      window.DEFAULT_PRODUCT_ID = '{{ DEFAULT_PRODUCT_ID }}';
    </script>
    <script src="{{ '/js/ui.js' | url }}"></script>
  {% case 'code' %}
    <!-- code -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/prismjs@1.29.0/themes/prism.min.css">
    <script src="https://cdn.jsdelivr.net/npm/prismjs@1.29.0/components/prism-core.min.js" data-manual></script>
    <script src="https://cdn.jsdelivr.net/npm/prismjs@1.29.0/plugins/autoloader/prism-autoloader.min.js"></script>
    <script async src="http://localhost:10099/dist/umd/miso.js"></script>
    <script src="{{ '/js/code.js' | url }}"></script>
  {% case 'algolia' %}
    <!-- algolia -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/instantsearch.css@7.4.5/themes/satellite-min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@algolia/autocomplete-theme-classic">
    <link rel="stylesheet" href="{{ '/css/algolia.css' | url }}">
    <script src="https://cdn.jsdelivr.net/npm/instantsearch.js@4.8.3/dist/instantsearch.production.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@algolia/autocomplete-js"></script>
    <script src="{{ '/js/algolia.js' | url }}"></script>
  {% case 'markdown-umd' %}
    <!-- markdown-umd -->
    <script src="http://localhost:10099/dist/umd/miso-markdown.js"></script>
  {% case 'markdown-npm' %}
    <!-- markdown-npm -->
    <link rel="stylesheet" href="http://localhost:10099/dist/css/markdown.css">
  {% case 'commons' %}
    <!-- commons -->
    <script src="{{ '/js/commons.js' | url }}"></script>
  {% case 'settings' %}
    <!-- settings -->
    <script src="{{ '/js/settings.js' | url }}"></script>
  {% case 'test' %}
    <!-- test -->
    <script src="{{ '/js/test.js' | url }}"></script>
{% endswitch %}
