{% switch dependency %}
  {% case 'sdk' %}
    <!-- sdk -->
    <script src="{{ '/js/sdk.js' | url }}"></script>
  {% case 'detached' %}
    <!-- sdk -->
    <script src="{{ '/js/detached.js' | url }}"></script>
  {% case 'ui' %}
    <!-- ui -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/prismjs@1.29.0/themes/prism.min.css">
    <link rel="stylesheet" href="http://localhost:10099/dist/css/ui.css">
    <script src="https://cdn.jsdelivr.net/npm/prismjs@1.29.0/components/prism-core.min.js" data-manual></script>
    <script src="https://cdn.jsdelivr.net/npm/prismjs@1.29.0/plugins/autoloader/prism-autoloader.min.js"></script>
    <script async src="http://localhost:10099/dist/umd/miso.js"></script>
    <script src="{{ '/js/ui.js' | url }}"></script>
  {% case 'ui:combo' %}
    <link rel="stylesheet" href="http://localhost:10099/dist/css/ui.css">
    <script async src="http://localhost:10099/dist/umd/miso.js?lorem"></script>
  {% case 'algolia' %}
    <!-- algolia -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/instantsearch.css@7.4.5/themes/satellite-min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@algolia/autocomplete-theme-classic">
    <link rel="stylesheet" href="{{ '/css/algolia.css' | url }}">
    <script src="https://cdn.jsdelivr.net/npm/instantsearch.js@4.8.3/dist/instantsearch.production.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@algolia/autocomplete-js"></script>
    <script src="{{ '/js/algolia.js' | url }}"></script>
  {% case 'settings' %}
    <!-- settings -->
    <script src="{{ '/js/settings.js' | url }}"></script>
  {% case 'test' %}
    <!-- test -->
    <script src="{{ '/js/test.js' | url }}"></script>
{% endswitch %}
