<div class="container-lg">
  <div class="row gx-4">
    <div id="footer-notes" class="col-md-4">
      <div class="brand mb-3">
        <svg xmlns="http://www.w3.org/2000/svg" role="img"
          height="28" viewbox="0 0 327 132"
          class="bi d-block my-1" fill="currentColor">
          <use xlink:href="{{ '/img/miso-logo.svg#index' | url }}"/>
        </svg>
      </div>
      <p>
        Code licensed <a href="https://github.com/MisoAI/miso-client-js-sdk/blob/main/LICENSE" target="_blank" rel="noopener">MIT</a>
        <br>
        Documentation <a href="https://creativecommons.org/licenses/by/4.0/" target="_blank" rel="noopener">CC BY 4.0</a>
        <br>
        Examples <a href="https://creativecommons.org/publicdomain/zero/1.0/" target="_blank" rel="noopener">CC0</a>
      </p>
    </div>
    <div class="col-md-8">
      <h5 class="link-group-title mb-3">Learn More</h5>
      <div class="link-list">
      {%- for external in intro.externals -%}
        <div class="link">
          <a href="{{ external.url | url }}" target="_blank" rel="noopener">{{ external.title }}{% if external.sup %}<sup>{{ external.sup }}</sup>{% endif %}</a>
        </div>
      {%- endfor -%}
      </div>
    </div>
  </div>
</div>
