{% macro proptable(group, name) %}
<table class="table">
  <thead>
    <tr>
      <th scope="col">Name</th>
      <th scope="col">Type</th>
      <th scope="col">Description</th>
    </tr>
  </thead>
  <tbody>
  {%- for prop in data.props[group][name].props -%}
    <tr>
      <td><code>{{ prop.name }}</code></td>
      <td>{{ prop.type }}</td>
      <td>{%- if prop.required -%}{{ '**Required.** ' | markdown | safe }}{%- endif -%}{{ prop.desc | markdown | safe }}</td>
    </tr>
  {%- endfor -%}
  </tbody>
</table>
{% endmacro %}

{% macro comparison_table(topic, group) %}
<table class="table">
  <colgroup>
    <col span="1" style="width: 20%;">
    <col span="1" style="width: 20%;">
    <col span="1">
  </colgroup>
  <thead>
    <tr>
      <th scope="col">{{ data.comparisons[topic].header.left }}</th>
      <th scope="col">{{ data.comparisons[topic].header.right }}</th>
      <th scope="col">Notes</th>
    </tr>
  </thead>
  <tbody>
  {%- for prop in data.comparisons[topic].groups[group].props -%}
    <tr>
      <td>
      {%- if prop.left | length -%}
        {%- for item in prop.left -%}
        <div>
          <code>{{ item }}</code>
        </div>
        {%- endfor -%}
      {%- else -%}
        N/A
      {%- endif -%}
      </td>
      <td>
      {%- if prop.right | length -%}
        {%- for item in prop.right -%}
        <div>
          <code>{{ item }}</code>
        </div>
        {%- endfor -%}
      {%- else -%}
        N/A
      {%- endif -%}
      </td>
      <td>{%- if prop.desc -%}{{ prop.desc | markdown | safe }}{%- endif -%}</td>
    </tr>
  {%- endfor -%}
  </tbody>
</table>
{% endmacro %}

{% macro stackblitz_link(path) %}
<div class="my-4">
  <a class="btn-with-icon btn btn-outline-primary" href="{{ tools.stackblitz.embed }}{{ path }}" role="button" target="_blank" rel="noopener">
    Live Demo
    <svg xmlns="http://www.w3.org/2000/svg" role="img" viewbox="0 0 16 16" class="bi d-inline-block align-text-top icon" fill="currentColor">
      <use xlink:href="{{ '/img/bootstrap-icons.svg#box-arrow-up-right' | url }}"/>
    </svg>
  </a>
</div>
{% endmacro %}

{% macro codesandbox_link(path) %}
<div class="my-4">
  <a class="btn-with-icon btn btn-outline-primary" href="{{ tools.codesandbox.embed }}{{ path }}" role="button" target="_blank" rel="noopener">
    Live Demo
    <svg xmlns="http://www.w3.org/2000/svg" role="img" viewbox="0 0 16 16" class="bi d-inline-block align-text-top icon" fill="currentColor">
      <use xlink:href="{{ '/img/bootstrap-icons.svg#box-arrow-up-right' | url }}"/>
    </svg>
  </a>
</div>
{% endmacro %}

{% macro code_example_link(path) %}
<div class="my-4">
  <a class="btn-with-icon btn btn-outline-primary" href="https://github.com/MisoAI/miso-client-js-sdk/tree/main/examples/{{ path }}" role="button" target="_blank" rel="noopener">
    Code Example
    <svg xmlns="http://www.w3.org/2000/svg" role="img" viewbox="0 0 16 16" class="bi d-inline-block align-text-top icon" fill="currentColor">
      <use xlink:href="{{ '/img/bootstrap-icons.svg#box-arrow-up-right' | url }}"/>
    </svg>
  </a>
</div>
{% endmacro %}
