{%- set pageMeta = data.pageMeta[page.url] -%}
{%- set canonicalUrl = [ "https://", hostname, page.url | url ] | join -%}

{%- if pageMeta.title -%}
  {%- set title = "Miso SDK for JavaScript" -%}
{%- else -%}
  {%- set title = ["Miso SDK for JavaScript - ", pageMeta.title] | join -%}
{%- endif -%}

{%- set description = pageMeta.desc -%}

<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1" />
<title>{{ title }}</title>
<link rel="canonical" href="{{ canonicalUrl }}" />
<meta name="description" content="{{ description }}" />

<meta property="og:title" content="{{ title }}" />
<meta property="og:description" content="{{ description }}" />
<meta property="og:url" content="{{ canonicalUrl }}" />
<meta property="og:type" content="documentation" />

<meta name="twitter:card" content="summary_large_image">
<meta name="twitter:site" content="@askmiso">
<meta name="twitter:creator" content="@askmiso">
<meta name="twitter:title" content="{{ title }}">
<meta name="twitter:description" content="{{ description }}">
<meta name="twitter:url" content="{{ canonicalUrl }}">

{# TODO: og:image, og:image:alt, twitter:image, twitter:image:alt #}
