<div>
  <ul class="sidebar-list list-unstyled mb-0 py-3 pt-md-1">
  {%- for section in sitemap.sdk.sections -%}
    <li class="mb-1">
      <a href="{{ section.path | url }}">{{ section.title }}</a>
      <div>
        <ul class="list-unstyled fw-normal pb-1 small">
        {%- for page in section.pages -%}
          <li>
            <a href="{{ page.path | url }}">{{ page.title }}</a>
          </li>
        {%- endfor -%}
        </ul>
      </div>
    </li>
  {%- endfor -%}
  </ul>
</div>
