<div>
  <ul class="sidebar-list list-unstyled mb-0 py-3 pt-md-1">
  {%- for section in sitemap[chapter].sections -%}
    <li class="section mb-3{{ ' active' if helpers.isCurrentPage(page.url, chapter, section.path)}}">
      <a href="{{ ['/', chapter, section.path] | join | url }}">{{ section.title }}</a>
      <div>
        <ul class="list-unstyled fw-normal pb-1 small">
        {%- for p in section.pages -%}
          <li class="page{{ ' active' if helpers.isCurrentPage(page.url, chapter, p.path)}}">
            <a href="{{ ['/', chapter, p.path] | join | url }}">{{ p.title }}</a>
          </li>
        {%- endfor -%}
        </ul>
      </div>
    </li>
  {%- endfor -%}
  </ul>
</div>
