---
layout: home.njk
---

<div id="hero" class="container-lg my-md-5">    
  <div class="row">
    <div class="col-md-8 mx-auto text-center">
      <h1>Boost your revenue<br>with Miso API</h1>
      <p>
        Unlock personalization experience
        <br>
        via Miso JavaScript SDK for browser.
        <br>
        Don't have a Miso account? Get yours <a href="https://miso.ai/">here</a>.
      </p>
    </div>
  </div>
</div>

<div id="components" class="container-lg my-md-4">
  <div class="row">
    <div class="col">
      <ul class="component-list list-unstyled">
      {%- for component in intro.components -%}
        <li class="component">
          <a href="{{ component.path | url }}">
            <div class="card">
              <h4 class="title">
                <span>{{ component.title }}</span>
              </h4>
              <p>{{ component.desc }}</p>
            </div>
          </a>
        </li>
      {%- endfor -%}
      </ul>
    </div>
  </div>
</div>
