---
dependency: codegen
pagination:
  data: workflows
  size: 1
  alias: workflow
permalink: "/workflow/{{ workflow }}/codegen/"
workflows:
  - ask
  - explore
  - hybrid-search
  - recommendation
  - search
---

<div id="root"></div>
