@import './algolia.scss';
@import './ui.scss';

:root {
  --gap-lg: 1.5rem;
  --gap-md: 1rem;
  --gap-sm: 0.75rem;
  --card-min-width: 200px;
}

.body {
  display: grid;
  grid-template-areas: "aside main";
  grid-template-columns: max-content 1fr;
  gap: var(--gap-lg);
  padding: var(--gap-lg);
}

aside {
  grid-area: aside;

  > .card {
    padding: var(--gap-md);
  }

  h5 {
    text-align: center;
    margin-bottom: var(--gap-sm);
  }

  .ais-RefinementList {
    text-align: center;
  }
}

main {
  grid-area: main;
}

#hits {
  margin-top: var(--gap-lg);
}

.ais-InfiniteHits-list,
.ais-Hits-list {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(var(--card-min-width), 1fr));
  gap: var(--gap-lg);
}

.ais-Hits-item,
.ais-InfiniteHits-item {
  border: 0 !important;
  box-shadow: none !important;
  border-radius: 3px !important;
  padding: 0 !important;
}

button {
  border-radius: 1rem !important;
}
