@import './algolia.scss';

:root {
  --gap-lg: 1.5rem;
  --gap-md: 1rem;
  --gap-sm: 0.75rem;
  --card-shadow: 0 0 0 1px rgba(0, 0, 0, 0.03), 0 1px 3px 0 rgba(0, 0, 0, 0.09);
  --card-min-width: 200px;
}

.body {
  display: grid;
  grid-template-areas: "aside main";
  grid-template-columns: max-content 1fr;
  gap: var(--gap-lg);
  padding: var(--gap-lg);
}

aside {
  grid-area: aside;
}

aside > .card {
  padding: var(--gap-md);
}

.card {
  box-shadow: var(--card-shadow);
  border: 1px solid rgba(0, 0, 0, 0.175) !important;
  border-radius: 3px !important;
  overflow: hidden;
}

main {
  grid-area: main;
}

aside h5 {
  text-align: center;
  margin-bottom: var(--gap-sm);
}

.ais-RefinementList {
  text-align: center;
}

#hits {
  margin-top: var(--gap-lg);
}

.ais-InfiniteHits-list,
.ais-Hits-list {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(var(--card-min-width), 1fr));
  gap: var(--gap-lg);
}

.ais-Hits-item,
.ais-InfiniteHits-item {
  border: 0 !important;
  box-shadow: none !important;
  border-radius: 3px !important;
  padding: 0 !important;
}

.product.card {
  display: grid;
  grid-template-rows: max-content 1fr max-content;
  grid-template-areas: 'image' 'title' 'price';
  gap: var(--gap-sm);
  height: 100%;
  padding-bottom: var(--gap-sm);
  color: #333;
}

.product.card .image {
  grid-area: image;
  width: 100%;
  aspect-ratio: 1 / 1;
  object-fit: cover;
}

.product.card .title {
  grid-area: title;
  padding: 0 var(--gap-sm);
}

.product.card .price {
  grid-area: price;
  padding: 0 var(--gap-sm);
  font-size: 1.2em;
  font-weight: 400;
}

.product .price::before {
  content: '$';
}

button {
  border-radius: 1rem !important;
}
