:root {
  --color-code-inline: #5566aa;
  --color-code-background: var(--color-primary-l8);
  --color-code-block-border: var(--color-primary-l4);
  --color-syntax-default: #444444;
  --color-syntax-selection-bg: #c1def1;
  --color-syntax-comment: #777777;
  --color-syntax-keyword: #4466bb;
  --color-syntax-value: #008822;
  --color-syntax-function: #ff6600;
  --color-syntax-regex: #cc2200;
  --color-syntax-string: #aa3366;
}

pre[class*="language-"],
code {
  font-family: ui-monospace, "SFMono-Regular", "SF Mono", Menlo, Consolas, "Liberation Mono", monospace;
	white-space: pre;

	word-spacing: normal;
	word-break: normal;

	-webkit-hyphens: none;
	-moz-hyphens: none;
	-ms-hyphens: none;
	hyphens: none;
}

code:not([class*="language-"]):not(.raw) {
  padding: 0.125rem 0.25rem;
  //margin: 0;
  //font-size: 85%;
  //border-radius: 6px;
  background-color: var(--color-code-background);
  color: var(--color-code-inline);
}

code.raw {
  color: inherit;
}

pre[class*="language-"] {
  max-width: 100%;
  overflow: auto;
  padding: 1em;
  //border: 1px solid rgba($primary-color, .2);
  //border-radius: 4px;
  border-left: 6px solid var(--color-code-block-border);;
  background-color: var(--color-code-background);
}

code[class*="language-"],
pre[class*="language-"] {
	color: var(--color-syntax-default);
	direction: ltr;
	text-align: left;

	font-size: .9em;
	line-height: 1.4em;

	-moz-tab-size: 4;
	-o-tab-size: 4;
	tab-size: 4;

  &::-moz-selection,
  ::-moz-selection,
  &::selection,
  ::selection {
    background: var(--color-syntax-selection-bg);
  }
}

.token {
  &.important {
    color: #e90;
  }
  &.important,
  &.bold {
    font-weight: bold;
  }
  &.italic {
    font-style: italic;
  }

  &.comment,
  &.atrule,
  &.atrule *,
  &.prolog {
    color: var(--color-syntax-comment) !important;
  }
  &.property,
  &.interpolation-punctuation,
  &.keyword,
  &.doctype,
  &.tag {
    color: var(--color-syntax-keyword);
  }
  &.boolean,
  &.number,
  &.symbol,
  &.deleted {
    color: var(--color-syntax-value);
  }
  &.string,
  &.attr-value {
    color: var(--color-syntax-string);
  }
  &.regex,
  &.cdata {
    color: var(--color-syntax-regex);
  }
  &.function,
  &.entity,
  &.attr-name,
  &.attr-value .punctuation,
  &.class-name,
  &.selector {
    color: var(--color-syntax-function);
  }
  &.namespace {
    opacity: 0.75;
  }
}
