$arrow-length: 12px;
$arrow-width: 8px;

:root {
  --color-diagram-text: #444;
  --color-diagram-line: #666;
  --color-diagram-shadow: #EEE;
}

table.miso-diagram {
  margin: 2rem auto;

  .box {
    border: 1px solid transparent;
    border-radius: 4px;
    padding: 0.75em;
    margin: 0.5rem;
    color: var(--color-diagram-text);
    border-color: var(--color-diagram-line);
    box-shadow: 0 0 5px var(--color-diagram-shadow);
  }

  td {
    position: relative;
  }

  .line {
    &.hor {
      position: absolute;
      left: 2px;
      right: 2px;
      top: 50%;
      transform: translateY(-50%);
      height: 2px;
      background-color: var(--color-diagram-line);
    }
  }
  .arrow {
    position: absolute;
    border: 0px solid transparent;

    &.left,
    &.right {
      top: 50%;
      transform: translateY(-50%);
      width: $arrow-length;
      height: $arrow-width;
      border-width: calc($arrow-width / 2) 0;
    }
    &.right {
      right: 0;
      border-left-color: var(--color-diagram-line);
      border-left-width: $arrow-length;
    }
    &.left {
      left: 0;
      border-right-color: var(--color-diagram-line);
      border-right-width: $arrow-length;
    }
  }
}
