/* home */

$component-gutter-half: 1.5rem;

body.home main {
  padding: 0 !important;
  font-size: 1.1rem;

  #hero h1 {
    font-size: 2.5rem;
  }

  a {
    text-decoration: none !important;
    color: var(--color-primary) !important;
  }

  #components ul {
    display: flex;
    flex-flow: row wrap;
    margin: 0;
    padding: 0 $component-gutter-half;
    list-style: none;

    > li {
      width: 33.3333%;
      position: relative;
      display: block;
      padding: $component-gutter-half;
    }
    .card {
      border: 1px solid #333;
      border-radius: 8px;
      padding: 1.2rem;
      height: 280px;
      color: #333;
      background-color: #fff;
      user-select: none;

      &:hover {
        transition: transform 0.1s ease-in;
        transform: scale(1.03);
        box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
      }

      > .title {
        margin-top: calc(-1.5rem * 0.6 - 1.2rem - 1px);
        color: var(--color-primary) !important;

        > span {
          background-color: #fff;
          margin: 0 -5px;
          padding: 0 5px;
        }
      }
    }
  }
}
