/* reset */
.btn-outline-primary {
  color: var(--color-primary);
  border-color: var(--color-primary);
}
.btn-outline-primary:hover,
.btn-check:active + .btn-outline-primary, 
.btn-check:checked + .btn-outline-primary, 
.btn-outline-primary.dropdown-toggle.show, 
.btn-outline-primary.active,
.btn-outline-primary:active {
  color: #fff;
  background-color: var(--color-primary);
  border-color: var(--color-primary);
}
.btn-check:focus + .btn-outline-primary, 
.btn-outline-primary:focus {
  box-shadow: 0 0 0 0.25rem var(--color-primary-l3);
}

/* custom */
.brand {
  text-decoration: none;
  white-space: nowrap;
}
.btn-group-lite {
  //float: left;
  min-width: 190px;

  input:checked + label.btn,
  label.btn.active,
  label.btn:active {
    > * {
      color: var(--color-primary) !important;
    }
    background-color: var(--color-primary-l6) !important;
  }
  .labeled-input > label {
    width: 100%;
    padding: 0.25rem 0.5rem;
    border-width: 0;
    font-size: 0.85em;
    color: var(--color-primary-l2);
    background-color: transparent;
    box-shadow: none !important;
    text-align: left;

    &:hover {
      color: var(--color-primary);
      border-color: transparent;
      background-color: var(--color-primary-l8);
    }
  }
}
.live-demo-link {
  font-size: 1.1rem;

  > svg {
    width: 0.9rem;
    height: 0.9rem;
    margin: 0.2rem -0.1rem 0.3rem 0.25rem;
  }
}
