@import './_variables.scss';
@import './_code.scss';
@import './_diagram.scss';
@import './_util.scss';
@import './_home.scss';

/* layout */
body.base .miso-body-container {
  @media (min-width: 768px) {
    & {
      display: grid;
      gap: 1.5rem;
      grid-template-areas: "sidebar main";
      grid-template-columns: 1fr 3fr;
    }
  }
  @media (min-width: 992px) {
    & {
      grid-template-columns: 1fr 5fr;
    }
  }
}
aside {
  grid-area: sidebar;
  & > nav {
    overflow: auto;
    font-weight: 600;

    @media (min-width: 768px) {
      & {
        position: -webkit-sticky;
        position: sticky;
        top: 1rem;
        display: block !important;
        height: calc(100vh - 7rem);
        padding-left: 1.25rem;
        margin-left: -0.25rem;
        overflow-y: auto;
      }
    }
  }
}

main {
  grid-area: main;
  // unlock TOC when necessary
  /*
  @media (min-width: 768px) {
    & {
      display: grid;
      gap: inherit;
      grid-template-areas:
          "intro"
          "toc"
          "content";
      grid-template-rows: auto auto 1fr;
    }
  }
  @media (min-width: 992px) {
    & {
      grid-template-areas:
          "intro toc"
          "content toc";
      grid-template-columns: 4fr 1fr;
      grid-template-rows: auto 1fr;
    }
  }
  */
}  

/* navbar */
header {
  padding: 0.75rem 1.25rem;
  background-color: var(--color-primary);

  .navbar-toggler {
    padding: 0;
    border: 0;
  }
  .navbar-nav .nav-link {
    color: rgba(255, 255, 255, 0.8) !important;
    &:hover {
      color: #fff !important;
    }
  }
  .navbar-nav-svg {
    width: 1.2rem;
    height: 1.2rem;
  }
  .navbar-brand {
    margin-right: 1.5rem !important;
  }
}
.try-miso-btn {
  font-weight: 600;
  color: #fff;
  border-color: #fff;
  &:hover,
  &:active {
    color: var(--color-primary);
    background-color: #fff;
    border-color: #fff;
  }
}

/* sidebar */
ul.sidebar-list {
  a {
    display: block;
    padding: 0.15em 0.05em;
    text-decoration: none;
  }
  li {
    position: relative;
  }
  li.page {
    > a {
      color: #666;
    }
    &.active > a {
      background-color: rgba(0, 0, 0, 0.05);
    }
  }
  li.section {
    > a {
      border-bottom: 1px solid var(--color-primary-l3);
      //margin-bottom: 0.25em;
      font-weight: 600;
      color: var(--color-primary);
    }
    &.active > a {
      background-color: var(--color-primary-l6);
    }
  }
}

/* region/section TOC */
.region-toc,
.section-toc {
  a, .title {
    color: var(--color-primary);
  }
}

/* main */
main {
  padding-right: 1.25rem;

  > .content {
    h2, h3 {
      margin-bottom: 1rem;
    }
    > h2:nth-child(n+2),
    > h3:nth-child(n+2) {
      margin-top: 2.5rem;
    }
    h4, h5 {
      margin-bottom: 1rem;
    }
    > h4:nth-child(n+2),
    > h5:nth-child(n+2) {
      margin-top: 1.5rem;
    }
  }
}

/* footer */
footer {
  color: #666;

  #footer-notes {
    font-size: 0.9rem;
  }
  a {
    color: #666;
    text-decoration: none;

    &:hover {
      color: #0d6efd;
      text-decoration: underline;
    }
  }
  .link-group-title {
    font-size: 1.2rem;
  }
  .link-list {
    display: flex;
    flex-flow: row wrap;
  }
  .link {
    line-height: 1.75;
    width: 50%;
  }
}
