.clearfix:after {
  content: '';
  display: table;
  clear: both;
}
.row > .col > h3 {
  margin-top: 0.75em;
  margin-bottom: 0.5em;
}
.codebox {
  margin: 0 1em 1em 1em;
  padding: 1em;
  border: 1px solid #dee2e6;
  background: #f8f9fa;
}
.codebox > code {
  white-space: pre;
  color: #2f6f9f;
}
.playground-only {
  display: none;
}
body.play .row.playground-only {
  display: flex;
}
.product {
  position: relative;
  padding: 15px;
  margin: 20px 0;
  border: 1px solid #CCC;
  background: #FCFCFC;
}
.product .imgbox {
  float: left;
  width: 100px;
  height: 100px;
  margin-right: 15px;
}
.product img {
  margin-bottom: 0.5rem;
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.3);
}
.product .infobox {
  overflow: hidden;
}
.product .price {
  text-align: right;
}
