/* reset */
body {
  margin: 0;
}
body, button, input, optgroup, select, textarea {
  font-family: "Inter", BlinkMacSystemFont, -apple-system, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
}

/* hero */
body {
  --miso-logo-color: #334bcc;
}
.hero {
  --miso-ask-combo-half-input-height: calc(1px + var(--miso-search-box-font-size) * 0.5 + var(--miso-search-box-padding));

  position: relative;
  padding-bottom: var(--miso-ask-combo-half-input-height);
  margin-bottom: calc(0px - var(--miso-ask-combo-half-input-height));
  height: 10rem;
  display: flex;
  align-items: center;
  justify-content: center;
  background: var(--theme-hero-background);
  color: var(--theme-hero-color);
}
.hero .miso-logo {
  position: absolute;
  top: 1.5rem;
  left: 2rem;
  color: var(--miso-logo-color);
}
.hero .site-logo {
  object-fit: contain;
  max-height: 7.5rem;
  width: 64%;
}
.hero #sdk-version {
  position: absolute;
  bottom: 1rem;
  right: 1.5rem;
  font-size: 0.9rem;
  color: var(--theme-hero-sdk-version-color);
}

/* ask-combo */
:root {
  --miso-ask-combo-content-max-width: 48rem !important;
}

/* site */
body {
  --theme-hero-background: #f0f0f0;
  --theme-hero-color: #fff;
  --theme-hero-sdk-version-color: #ccc;
}
body .hero .site-logo {
  content: url(/miso-client-js-sdk/demo/asset/img/lgc.svg);
}

/* definition */
body {
  --type-a-color: #7F90AF;
  --type-b-color: #27517E;
  --type-c-color: #04111E;
  --type-d-color: #7E2751;
  --type-e-color: #517E27;
}
.miso-type-defs ul {
  display: flex;
  gap: 1rem;
  list-style-type: none;
  padding: 0.5rem;
  background: #f0f0f0;
  border-radius: 999px;
}
.miso-type-defs ul li {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  font-size: 0.9rem;
}
.miso-type-defs ul li::before {
  content: '';
  display: block;
  aspect-ratio: 1;
  width: 1rem;
  border-radius: 50%;
}
.miso-type-defs ul li[data-type="type-a"]::before {
  background: var(--type-a-color);
}
.miso-type-defs ul li[data-type="type-b"]::before {
  background: var(--type-b-color);
}
.miso-type-defs ul li[data-type="type-c"]::before {
  background: var(--type-c-color);
}
.miso-type-defs ul li[data-type="type-d"]::before {
  background: var(--type-d-color);
}
.miso-type-defs ul li[data-type="type-e"]::before {
  background: var(--type-e-color);
}

/* link & tooltip */
.miso-citation-tooltip .title {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  font-weight: 600;
  width: max-content;
  max-width: 12rem;
  overflow: hidden;
  text-overflow: ellipsis;
}
.miso-citation-tooltip .type {
  margin-top: 0.5em;
}
.miso-citation-index[data-type="type-a"],
.miso-citation-link[data-type="type-a"] {
  color: var(--type-a-color) !important;
}
.miso-citation-index[data-type="type-b"],
.miso-citation-link[data-type="type-b"] {
  color: var(--type-b-color) !important;
}
.miso-citation-index[data-type="type-c"],
.miso-citation-link[data-type="type-c"] {
  color: var(--type-c-color) !important;
}
.miso-citation-index[data-type="type-d"],
.miso-citation-link[data-type="type-d"] {
  color: var(--type-d-color) !important;
}
.miso-citation-index[data-type="type-e"],
.miso-citation-link[data-type="type-e"] {
  color: var(--type-e-color) !important;
}

/* sources */
.miso-list__item-date-type {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  margin-bottom: 0.25rem;
}
.miso-list__item-date {
  margin-bottom: 0 !important;
}
.miso-list__item-type {
  font-size: 0.8rem;
  background: var(--type-c-color);
  color: #fff;
  padding: 0.2rem 0.6rem;
  border-radius: 999px;
}
.miso-list__item-type[data-type="type-a"] {
  background: var(--type-a-color);
}
.miso-list__item-type[data-type="type-b"] {
  background: var(--type-b-color);
}
.miso-list__item-type[data-type="type-c"] {
  background: var(--type-c-color);
}
.miso-list__item-type[data-type="type-d"] {
  background: var(--type-d-color);
}
.miso-list__item-type[data-type="type-e"] {
  background: var(--type-e-color);
}
