/* reset */
body {
  margin: 0;
}
body, button, input, optgroup, select, textarea {
  font-family: "Inter", BlinkMacSystemFont, -apple-system, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
}

/* hero */
body {
  --miso-logo-color: #334bcc;
}
.hero {
  --miso-ask-combo-half-input-height: calc(1px + var(--miso-search-box-font-size) * 0.5 + var(--miso-search-box-padding));

  position: relative;
  padding-bottom: var(--miso-ask-combo-half-input-height);
  margin-bottom: calc(0px - var(--miso-ask-combo-half-input-height));
  height: 10rem;
  display: flex;
  align-items: center;
  justify-content: center;
  background: var(--theme-hero-background);
  color: var(--theme-hero-color);
}
.hero .miso-logo {
  position: absolute;
  top: 1.5rem;
  left: 2rem;
  color: var(--miso-logo-color);
}
.hero .site-logo {
  object-fit: contain;
  max-height: 7.5rem;
  width: 64%;
}
.hero #sdk-version {
  position: absolute;
  bottom: 1rem;
  right: 1.5rem;
  font-size: 0.9rem;
  color: var(--theme-hero-sdk-version-color);
}

/* ask-combo */
:root {
  --miso-ask-combo-content-max-width: 48rem !important;
}

/* site */
body {
  --theme-hero-background: #f0f0f0;
  --theme-hero-color: #fff;
  --theme-hero-sdk-version-color: #ccc;
}
body .hero .site-logo {
  content: url(/miso-client-js-sdk/demo/asset/img/lgc.svg);
}

/* definition */
body {
  --type-sponsored-color: #04111E;
  --type-news-color: #4e596e;
  --type-opinion-color: #27517E;
  --type-ideaexchange-color: #7E2751;
  --type-other-color: #517E27;
}
.miso-type-defs ul {
  display: flex;
  gap: 1rem;
  list-style-type: none;
  padding: 0.5rem;
  background: #f0f0f0;
  border-radius: 999px;
}
.miso-type-defs ul li {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  font-size: 0.9rem;
}
.miso-type-defs ul li::before {
  content: '';
  display: block;
  aspect-ratio: 1;
  width: 1rem;
  border-radius: 50%;
}
.miso-type-defs ul li::before {
  background: var(--type-other-color);
}
.miso-type-defs ul li[data-type="Sponsored"]::before {
  background: var(--type-sponsored-color);
}
.miso-type-defs ul li[data-type="News"]::before {
  background: var(--type-news-color);
}
.miso-type-defs ul li[data-type="Opinion"]::before {
  background: var(--type-opinion-color);
}
.miso-type-defs ul li[data-type="Idea exchange"]::before {
  background: var(--type-ideaexchange-color);
}

/* link & tooltip */
.miso-citation-tooltip .title {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  font-weight: 600;
  width: max-content;
  max-width: 12rem;
  overflow: hidden;
  text-overflow: ellipsis;
}
.miso-citation-tooltip .type {
  display: block;
  margin-top: 0.5em;
}
.miso-citation-index,
.miso-citation-link {
  color: var(--type-other-color) !important;
}
.miso-citation-index[data-type="Sponsored"],
.miso-citation-link[data-type="Sponsored"] {
  color: var(--type-sponsored-color) !important;
}
.miso-citation-index[data-type="News"],
.miso-citation-link[data-type="News"] {
  color: var(--type-news-color) !important;
}
.miso-citation-index[data-type="Opinion"],
.miso-citation-link[data-type="Opinion"] {
  color: var(--type-opinion-color) !important;
}
.miso-citation-index[data-type="Idea exchange"],
.miso-citation-link[data-type="Idea exchange"] {
  color: var(--type-ideaexchange-color) !important;
}

/* sources */
.miso-list__item-date-type {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  margin-bottom: 0.25rem;
}
.miso-list__item-date {
  margin-bottom: 0 !important;
}
.miso-list__item-type {
  font-size: 0.8rem;
  background: var(--type-other-color);
  color: #fff;
  padding: 0.2rem 0.6rem;
  border-radius: 999px;
}
.miso-list__item-type[data-type="Sponsored"] {
  background: var(--type-sponsored-color);
}
.miso-list__item-type[data-type="News"] {
  background: var(--type-news-color);
}
.miso-list__item-type[data-type="Opinion"] {
  background: var(--type-opinion-color);
}
.miso-list__item-type[data-type="Idea exchange"] {
  background: var(--type-ideaexchange-color);
}
