#hits {
  margin-top: 1rem;
}
.ais-Hits-list {
  display: flex;
  flex-flow: row wrap;

  > .ais-Hits-item {
    position: relative;
    display: block;
    width: calc(25% - 1rem);
    height: 300px;
    margin: 0.5rem;
    padding: 1rem;

    > div {
      position: relative;
      height: 100%;
      padding-bottom: 1.25rem;
    }

    .image > img {
      height: 100px;
    }

    .footer {
      position: absolute;
      left: 0;
      right: 0;
      bottom: 0;
      height: 1.25rem;
    }
  }
}

// https://github.com/algolia/instantsearch-specs/issues/117
.ais-SearchBox-form::before {
  display: none;
}

.ais-SearchBox-submit {
  position: absolute;
  display: flex;
  top: 0;
  left: 0;
  height: 100%;
  width: 2.5rem;
  align-items: center;
}

.ais-SearchBox-submit svg {
  display: none;
}

.ais-SearchBox-submit::before {
  display: block;
  height: 1rem;
  width: 1rem;
  margin-left: 1rem;
  background: rgba(0, 0, 0, 0)
    url('data:image/svg+xml;utf8,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2216%22%20height%3D%2216%22%20viewBox%3D%220%200%2024%2024%22%20fill%3D%22none%22%20stroke%3D%22%235a5e9a%22%20stroke-width%3D%222%22%20stroke-linecap%3D%22round%22%20stroke-linejoin%3D%22round%22%3E%3Ccircle%20cx%3D%2211%22%20cy%3D%2211%22%20r%3D%228%22%3E%3C%2Fcircle%3E%3Cline%20x1%3D%2221%22%20y1%3D%2221%22%20x2%3D%2216.65%22%20y2%3D%2216.65%22%3E%3C%2Fline%3E%3C%2Fsvg%3E')
    repeat scroll 0% 0%;
  content: '';
}
