@import './_variables.scss';
//@import './_code.scss';

/* layout */
body.base .miso-body-container {
  padding: 0 !important;

  @media (min-width: 768px) {
    display: grid;
    grid-template-areas: "sidebar main";
    grid-template-columns: 1fr 3fr;
    // gap: 1.5rem;
    margin-top: 0 !important;
    margin-bottom: 0 !important;
  }
  @media (min-width: 992px) {
    grid-template-columns: 1fr 5fr;
  }
}
aside {
  grid-area: sidebar;
  background-color: var(--color-primary-l7);

  & > nav {
    overflow: auto;
    font-weight: 600;
    padding: 1rem;

    @media (min-width: 768px) {
      position: -webkit-sticky;
      position: sticky;
      top: 0;
      display: block !important;
      height: calc(100vh - 3.5rem);
      padding: 1rem 1.5rem;
      margin-left: -0.25rem;
      overflow-y: auto;
    }
  }
}
main {
  grid-area: main;
  //padding: 1rem;

  @media (min-width: 768px) {
    //padding: 1rem 1.5rem;
  }
}  

/* navbar */
header {
  padding: 1rem !important;
  @media (min-width: 768px) {
    padding: 0.5rem 1rem !important;
  }
  background-color: var(--color-primary);

  > nav {
    padding: 0 !important;
  }

  .navbar-toggler {
    padding: 0;
    border: 0;
  }
  .navbar-nav .nav-link {
    color: rgba(255, 255, 255, 0.8) !important;
    &:hover {
      color: #fff !important;
    }
  }
  .navbar-nav-svg {
    width: 1.2rem;
    height: 1.2rem;
  }
  .navbar-brand {
    margin-right: 1.5rem !important;
  }
}
.try-miso-btn {
  font-weight: 600;
  color: #fff;
  border-color: #fff;
  &:hover,
  &:active {
    color: var(--color-primary);
    background-color: #fff;
    border-color: #fff;
  }
}

/* sidebar */
ul.sidebar-list {
  a, .title {
    display: block;
    padding: 0.15em 0.05em;
    text-decoration: none;
  }
  li {
    position: relative;
  }
  li.active::before {
    content: '\2023';
    position: absolute;
    right: 100%;
    top: -0.05em;
    padding: 0.15em 0.25em;
  }
  li.page {
    &::before, > a, > .title {
      color: #666;
    }
  }
  li.section {
    &::before, > a, > .title {
      color: var(--color-primary);
    }
    > a, > .title {
      border-bottom: 1px solid var(--color-primary-l3);
      margin-bottom: 0.25em;
      font-weight: 600;
    }
  }
}

/* main */
main {
  > .content {
    h2, h3 {
      margin-bottom: 1rem;
    }
    > h2:nth-child(n+2),
    > h3:nth-child(n+2) {
      margin-top: 2.5rem;
    }
    h4, h5 {
      margin-bottom: 1rem;
    }
    > h4:nth-child(n+2),
    > h5:nth-child(n+2) {
      margin-top: 1.5rem;
    }
  }
  .hero-title {
    text-align: center;
    margin: 2rem 0;
    font-size: 3rem;
    line-height: 2;
  }
}

.btn-outline-primary {
  color: var(--color-primary);
  border-color: var(--color-primary);
}
.btn-outline-primary:hover,
.btn-check:active+.btn-outline-primary, 
.btn-check:checked+.btn-outline-primary, 
.btn-outline-primary.active, .btn-outline-primary.dropdown-toggle.show, 
.btn-outline-primary:active {
  color: #fff;
  background-color: var(--color-primary);
  border-color: var(--color-primary);
}
.btn-check:focus+.btn-outline-primary, 
.btn-outline-primary:focus {
  box-shadow: 0 0 0 0.25rem var(--color-primary-l3);
}

#demo {
  .product-list {
    display: flex;
    flex-flow: row wrap;
    margin: 1rem -0.5rem;

    > .product-card {
      width: calc(100% - 1rem);
      height: 300px;

      &.row-4 {
        width: calc(25% - 1rem);
      }
    }
    &.selectable {
      > .product-card {
        // TODO
      }
    }
  }
  a.product-card {
    color: inherit;
    text-decoration: none;
    cursor: pointer;
  }
  .product-card {
    position: relative;
    background: #fff;
    box-shadow: 0 0 5px #eee;
    font-size: .875rem;
    font-weight: 400;
    line-height: 1.25rem;
    padding: 1rem;
    margin: 0.5rem;
    border: 1px solid #ddd;
    border-radius: 6px;

    > div {
      position: relative;
      height: 100%;
      padding-bottom: 1.25rem;
    }

    .title {
      font-size: 1rem;
      margin-bottom: 0.6rem;
    }

    .image > img {
      height: 100px;
    }

    .footer {
      position: absolute;
      left: 0;
      right: 0;
      bottom: 0;
      height: 1.25rem;
    }
  }
  .suggested-query-list {
    position: absolute;
    top: 100%;
    margin-top: 0.5rem;
    border: 1px solid #ddd;
    width: 100%;
    padding: 0.5rem;
    border-radius: 6px;
    z-index: 10;
    background: #fff;
    box-shadow: 0 0 10px #ccc;

    &:empty {
      display: none;
    }
  }
  .suggested-query {
    padding: 0.25rem;
    cursor: pointer;
    &:hover {
      background-color: var(--color-primary-l7);
    }
    mark {
      padding: 0;
      font-weight: bold;
      background-color: transparent;
    }
  }

  screen {
    display: block;
    position: relative;
    margin-top: 1rem;
  }
  .stdout,
  .stderr {
    position: relative;
    border: 1px solid transparent;
    border-radius: 6px;
    padding: 0.75rem;
    width: 100%;

    &::before {
      content: 'Test';
      position: absolute;
      top: -1em;
      padding: 0.15em;
      font-size: 0.85em;
      background-color: #fff;
      color: #888;
    }
    &:empty {
      display: none;
    }
  }
  .stdout {
    color: #333;
    border-color: #999;
    &::before {
      content: 'Output';
    }
  }
  .stderr {
    color: #333;
    border-color: #999;
    &::before {
      content: 'Error';
    }
  }
}
