/* variable */
$primary-color: #5e33bb;

:root {
  --color-primary: #{$primary-color};
  --color-primary-l2: #{rgba($primary-color, .7)};
  --color-primary-l3: #{rgba($primary-color, .5)};
  --color-primary-l4: #{rgba($primary-color, .3)};
  --color-primary-l6: #{rgba($primary-color, .1)};
  --color-primary-l7: #{rgba($primary-color, .075)};
  --color-primary-l8: #{rgba($primary-color, .05)};
}
