<!DOCTYPE html>
<html lang="en">
  <head>
    {% include 'header.njk' %}
  </head>
  <body>
    <header class="navbar navbar-expand-md navbar-dark">
      <nav class="container-xxl flex-wrap flex-md-nowrap" aria-label="Main navigation">
        {% include 'navbar.njk' %}
      </nav>
    </header>
    <div class="container-xxl my-md-4 mi-body-container">
      <aside>
        <nav id="aside-nav" class="collapse" aria-label="Docs navigation">
          {% include 'sidebar.njk' %}
        </nav>
      </aside>
      <main class="order-1">
        <div class="intro ps-lg-4">
          {% if title %}<h1>{{ title }}</h1>{% endif %}
          <hr>
          {% if description %}<p>{{ description }}</p>{% endif %}
        </div>
        {#
        <div class="toc mt-4 mb-5 my-md-0 ps-xl-3 mb-lg-5 text-muted">
        </div>
        #}
        <div class="content ps-lg-4">
          {{ content | safe }}
        </div>
      </main>
    </div>
    <footer class="py-5 mt-5 bg-light">
      {% include 'footer.njk' %}
    </footer>
    {% include 'outro.njk' %}
  </body>
</html>